{    
    "token": "Bot token ID goes here",
    "ownerID": "The creator of the bot's ID goes here",
    "commandPath": "commands/",
    "commandCooldown": 3,
    "commandPrefix": "!",
    "useDiscordBots": false,
    "discordBotsAPI": "API_TOKEN",
    "needsSpace": 0,
    "defaultVoiceChannel": "151880326547898371",
    "websitePort": 12345,
    "webhookPort": 25566,
    "pastebinapikey": "pastebin api key goes here"
}