doctype html
html
doctype html
html(lang="en")  
  head
    link(rel='stylesheet', href='/css/index.css')
    title World Wide Web
  body
    .header
      h1.page-title dark-robbot

    ul.nav
      li: a(href='/') Home
      li: a(href='/message') Send Message
      li: a(href='/restart') Restart Bot
      li: a(href='/more') More...
    
    .main-content
      block content

    .footer
      p This website is used to control discord bot.